/* 
 * TITLING GOTHIC FB WIDE
 */

/* 100 - Thin */
@font-face {
  font-family: "TitlingGothicFB Wide";
  src: url("TitlingGothicFBWide-Thin.woff2") format("woff2"),
    url("TitlingGothicFBWide-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "TitlingGothicFB Wide";
  src: url("TitlingGothicFBWide-Light.woff2") format("woff2"),
    url("TitlingGothicFBWide-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: "TitlingGothicFB Wide";
  src: url("TitlingGothicFBWide-Regular.woff2") format("woff2"),
    url("TitlingGothicFBWide-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "TitlingGothicFB Wide";
  src: url("TitlingGothicFBWide-Medium.woff2") format("woff2"),
    url("TitlingGothicFBWide-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "TitlingGothicFB Wide";
  src: url("TitlingGothicFBWide-Bold.woff2") format("woff2"),
    url("TitlingGothicFBWide-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: "TitlingGothicFB Wide";
  src: url("TitlingGothicFBWide-Black.woff2") format("woff2"),
    url("TitlingGothicFBWide-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* 
 * TITLING GOTHIC FB SKYLINE
 */

/* 100 - Thin */
@font-face {
  font-family: "TitlingGothicFB Skyline";
  src: url("TitlingGothicFBSkyline-Thin.woff2") format("woff2"),
    url("TitlingGothicFBSkyline-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "TitlingGothicFB Skyline";
  src: url("TitlingGothicFBSkyline-Light.woff2") format("woff2"),
    url("TitlingGothicFBSkyline-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: "TitlingGothicFB Skyline";
  src: url("TitlingGothicFBSkyline-Regular.woff2") format("woff2"),
    url("TitlingGothicFBSkyline-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "TitlingGothicFB Skyline";
  src: url("TitlingGothicFBSkyline-Medium.woff2") format("woff2"),
    url("TitlingGothicFBSkyline-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "TitlingGothicFB Skyline";
  src: url("TitlingGothicFBSkyline-Bold.woff2") format("woff2"),
    url("TitlingGothicFBSkyline-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: "TitlingGothicFB Skyline";
  src: url("TitlingGothicFBSkyline-Black.woff2") format("woff2"),
    url("TitlingGothicFBSkyline-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* 
 * TITLING GOTHIC FB NORMAL
 */

/* 100 - Thin */
@font-face {
  font-family: "TitlingGothicFB Normal";
  src: url("TitlingGothicFBNormal-Thin.woff2") format("woff2"),
    url("TitlingGothicFBNormal-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "TitlingGothicFB Normal";
  src: url("TitlingGothicFBNormal-Light.woff2") format("woff2"),
    url("TitlingGothicFBNormal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: "TitlingGothicFB Normal";
  src: url("TitlingGothicFBNormal-Regular.woff2") format("woff2"),
    url("TitlingGothicFBNormal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "TitlingGothicFB Normal";
  src: url("TitlingGothicFBNormal-Medium.woff2") format("woff2"),
    url("TitlingGothicFBNormal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "TitlingGothicFB Normal";
  src: url("TitlingGothicFBNormal-Bold.woff2") format("woff2"),
    url("TitlingGothicFBNormal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: "TitlingGothicFB Normal";
  src: url("TitlingGothicFBNormal-Black.woff2") format("woff2"),
    url("TitlingGothicFBNormal-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
 * TITLING GOTHIC FB NARROW
 */

/* 100 - Thin */
@font-face {
  font-family: "TitlingGothicFB Narrow";
  src: url("TitlingGothicFBNarrow-Thin.woff2") format("woff2"),
    url("TitlingGothicFBNarrow-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "TitlingGothicFB Narrow";
  src: url("TitlingGothicFBNarrow-Light.woff2") format("woff2"),
    url("TitlingGothicFBNarrow-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: "TitlingGothicFB Narrow";
  src: url("TitlingGothicFBNarrow-Regular.woff2") format("woff2"),
    url("TitlingGothicFBNarrow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "TitlingGothicFB Narrow";
  src: url("TitlingGothicFBNarrow-Medium.woff2") format("woff2"),
    url("TitlingGothicFBNarrow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "TitlingGothicFB Narrow";
  src: url("TitlingGothicFBNarrow-Bold.woff2") format("woff2"),
    url("TitlingGothicFBNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: "TitlingGothicFB Narrow";
  src: url("TitlingGothicFBNarrow-Black.woff2") format("woff2"),
    url("TitlingGothicFBNarrow-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
 * TITLING GOTHIC FB EXTENDED
 */

/* 100 - Thin */
@font-face {
  font-family: "TitlingGothicFB Extended";
  src: url("TitlingGothicFBExtended-Thin.woff2") format("woff2"),
    url("TitlingGothicFBExtended-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "TitlingGothicFB Extended";
  src: url("TitlingGothicFBExtended-Light.woff2") format("woff2"),
    url("TitlingGothicFBExtended-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "TitlingGothicFB Extended";
  src: url("TitlingGothicFBExtended-Medium.woff2") format("woff2"),
    url("TitlingGothicFBExtended-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "TitlingGothicFB Extended";
  src: url("TitlingGothicFBExtended-Bold.woff2") format("woff2"),
    url("TitlingGothicFBExtended-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: "TitlingGothicFB Extended";
  src: url("TitlingGothicFBExtended-Black.woff2") format("woff2"),
    url("TitlingGothicFBExtended-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
 * TITLING GOTHIC FB CONDENSED
 */

/* 100 - Thin */
@font-face {
  font-family: "TitlingGothicFB Cond";
  src: url("TitlingGothicFBCond-Thin.woff2") format("woff2"),
    url("TitlingGothicFBCond-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "TitlingGothicFB Cond";
  src: url("TitlingGothicFBCond-Light.woff2") format("woff2"),
    url("TitlingGothicFBCond-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: "TitlingGothicFB Cond";
  src: url("TitlingGothicFBCond-Regular.woff2") format("woff2"),
    url("TitlingGothicFBCond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "TitlingGothicFB Cond";
  src: url("TitlingGothicFBCond-Medium.woff2") format("woff2"),
    url("TitlingGothicFBCond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "TitlingGothicFB Cond";
  src: url("TitlingGothicFBCond-Bold.woff2") format("woff2"),
    url("TitlingGothicFBCond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: "TitlingGothicFB Cond";
  src: url("TitlingGothicFBCond-Black.woff2") format("woff2"),
    url("TitlingGothicFBCond-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
 * TITLING GOTHIC FB COMPRESSED
 */

/* 100 - Thin */
@font-face {
  font-family: "TitlingGothicFB Comp";
  src: url("TitlingGothicFBComp-Thin.woff2") format("woff2"),
    url("TitlingGothicFBComp-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "TitlingGothicFB Comp";
  src: url("TitlingGothicFBComp-Light.woff2") format("woff2"),
    url("TitlingGothicFBComp-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: "TitlingGothicFB Comp";
  src: url("TitlingGothicFBComp-Regular.woff2") format("woff2"),
    url("TitlingGothicFBComp-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "TitlingGothicFB Comp";
  src: url("TitlingGothicFBComp-Medium.woff2") format("woff2"),
    url("TitlingGothicFBComp-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "TitlingGothicFB Comp";
  src: url("TitlingGothicFBComp-Bold.woff2") format("woff2"),
    url("TitlingGothicFBComp-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: "TitlingGothicFB Comp";
  src: url("TitlingGothicFBComp-Black.woff2") format("woff2"),
    url("TitlingGothicFBComp-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
